#trigger-engine-field {
    z-index: 100;
    position: absolute;
    border-radius: 0;
    outline-offset: 0;
    width: var(--origin-width);
    height: var(--origin-height);
    font-size: var(--origin-font-size);
    transform: translate(-50%, -50%);
    transition: all var(--transition-time) ease-in;

    input {
        border-radius: 0;
    }

    &.scale-to {
        width: var(--target-width);
        height: var(--target-height);
        font-size: var(--target-font-size);
    }
}

#trigger-engine-field-tooltip {
    position: absolute;
}

#tooltip.trigger-engine-field-tooltip {
    --border-color: #584a75c4;

    border: 1px solid var(--border-color);
    padding: 0.4rem 0.5rem;

    .title {
        text-align: center;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            &::before {
                content: "-";
                padding-inline: 0 0.4rem;
            }
        }
    }

    hr {
        background: none;
        border-top: 1px solid var(--border-color);
        margin: 0.3rem 0;
    }

    code {
        display: inline;
        padding: 0 0.2em;
        border: 0;
        background: #302831c4;
        box-shadow: inset 0 0 0px 1px var(--border-color);
    }
}

input#trigger-engine-field {
    line-height: 0;
}

point-input#trigger-engine-field {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .key-x,
    .key-y {
        grid-row: 1;
        height: 100%;
    }

    .key-x {
        grid-column: 1;
    }

    .key-y {
        grid-column: 2;
    }

    label {
        display: flex;
        align-items: center;
        margin-left: 0.3em;
        pointer-events: none;
        text-transform: capitalize;
        letter-spacing: 0.05em;

        &::after {
            content: ":";
        }
    }

    input {
        padding-left: calc(0.3em + 2ch);
    }
}

search-select-input#trigger-engine-field {
    input {
        height: 100%;
        background-image: url('data:image/svg+xml,<svg fill="%23ffffff80" width="800px" height="800px" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg"><path d="M232.47656,215.51563l-40.67773-40.67774a96.10791,96.10791,0,1,0-16.97168,16.96973l40.67871,40.67871a12.0001,12.0001,0,1,0,16.9707-16.9707ZM43.99707,116a72,72,0,1,1,72,72A72.08124,72.08124,0,0,1,43.99707,116Z"/></svg>');
        background-repeat: no-repeat;
        background-size: auto 80%;
        background-position: 0.3rem;
        padding-left: var(--target-height);
        outline: 2px solid var(--input-focus-outline-color);
        outline-offset: -2px;
    }

    .popup {
        position: absolute;
        width: 100%;
        background: var(--color-cool-4);
        height: 0;
        max-height: 40vh;
        overflow-x: hidden;
        overflow-y: auto;

        &.expand {
            height: auto;
        }

        .group {
            font-weight: bold;
            font-style: italic;
            padding-inline: 0.4rem;
        }

        .option {
            cursor: pointer;
            padding: 0.1rem 0.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                background: #366c7d26;
            }

            &.selected {
                background: #366c7d5c;
            }
        }

        &:has(.group) {
            .option {
                padding-left: 1rem;
            }
        }
    }

    &.bottom-half {
        .popup {
            bottom: 100%;
        }
    }
}

prose-mirror#trigger-engine-field {
    gap: 0;
    outline: 2px solid var(--color-cool-3);
    min-height: 0;

    menu {
        border-radius: 0;
        padding: 0 0.3em;
        justify-content: space-between;
        gap: 0;

        button {
            padding: 1px 2px;

            &.format {
                min-width: 0;
            }
        }
    }

    .editor-container {
        background: var(--menu-background);
        border-top: 1px solid var(--color-cool-3);

        .editor-content {
            padding-inline: 0.5rem;

            h1,
            h2,
            h3,
            h4 {
                font-size: var(--origin-font-size);
                transition: all var(--transition-time) ease-in;
            }
        }
    }

    &.scale-to {
        .editor-content {
            h1 {
                font-size: var(--font-h1-size);
            }

            h2 {
                font-size: var(--font-h2-size);
            }

            h2 {
                font-size: var(--font-h2-size);
            }

            h3 {
                font-size: var(--font-h3-size);
            }
        }
    }

    &:not(.scaled) {
        .editor-menu {
            display: none;
        }
    }
}

code-mirror#trigger-engine-field {
    min-height: 0;
}
