@use "./utils" as utils;

@mixin app() {
    background: var(--background);
    background-color: #808080;
    border: var(--border);
    border-left: 0;
}

#trigger-engine-blueprint {
    --outer-spacing: 5px;
    --width: calc(100% - ((var(--sidebar-width) + 16px + 48px) * var(--ui-scale)));
    --background: url("../../../ui/denim075.png") repeat;
    --background-color: #00000059;
    --background-color-highlight: #ffffff14;
    --border: 1px solid #111111;
    --border-separator: 1px solid #ffffff3b;
    --folder-spacer-width: 6px;
    --tags-buttons-border: 1px solid var(--color-border-light-tertiary);

    @include app();

    position: absolute;
    width: var(--width);
    max-width: var(--width);
    margin: 0;
    pointer-events: none;
    top: var(--outer-spacing);
    bottom: var(--outer-spacing);
    border-radius: 0 5px 5px 0;
    color: var(--color-text-light-highlight);

    &.stretched {
        --width: calc(100% - var(--outer-spacing));
    }

    .ui {
        height: 100%;
        width: 100%;
        display: flex;
        position: absolute;
    }

    .trigger-title {
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: 1.7em;
        color: var(--text-light);
        padding: 0.2em 0.5em;
        background: #00000066;
        opacity: 0.4;
        border-radius: 0 0 10px 10px;
        letter-spacing: 1px;
        border: 1px solid var(--color-border-dark);
        display: flex;
        align-items: center;
        gap: 0.3em;

        &.invalid {
            color: #fb0000;
        }
    }

    canvas {
        pointer-events: all;
    }

    .sidebar {
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 250px;
        border-left: var(--border);
        border-right: var(--border);
        background: var(--background);
        background-color: var(--background-color);
        pointer-events: all;
        white-space: nowrap;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--background-color);
            border-bottom: var(--border-separator);
            border-top: 1px solid transparent;
            padding: 0.3rem;
            font-size: 1.2em;

            .controls {
                display: flex;
                align-items: center;
                gap: 0.5em;

                a {
                    text-align: center;
                    width: 1.2em;

                    i {
                        vertical-align: middle;
                    }

                    &.disabled {
                        opacity: 0.4;
                    }
                }
            }

            &.sub {
                border-top: 0;
                border-bottom: 0;
            }
        }

        .scroll {
            flex: 1;
            overflow: auto;

            .list {
                > * {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                    padding-inline: 0.2rem 0.4rem;
                    height: 2em;
                    border-bottom: 1px solid #ffffff14;

                    .controls {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.3em;
                    }
                }

                .name {
                    flex: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .trigger-description {
            display: none;
        }
    }

    .sidebar.trigger {
        .header {
            &.sub {
                justify-content: center;
            }
        }

        .scroll {
            &.variables {
                flex: 2;
            }

            [data-node-id] {
                justify-content: space-between;
            }
        }

        .name {
            i {
                text-align: center;
            }
        }

        .event {
            .name {
                i {
                    width: 1.5em;
                }
            }
        }

        .gate {
            .name {
                display: flex;
                gap: 0.5em;

                i {
                    font-size: 1.2em;
                }
            }
        }

        .variable {
            padding-left: 0;

            .name {
                height: 100%;
                display: flex;
                align-items: center;

                svg {
                    height: 100%;
                }
            }
        }

        ~ .description:not(.show) {
            display: none;
        }
    }

    .sidebar.triggers {
        [name="search"] {
            @include utils.text-input();

            border-bottom: var(--border-separator);
            padding: 0.3rem;

            input {
                color: var(--color-text-light-highlight);
            }

            a {
                right: 0.3rem;
            }
        }

        [name="tags"] {
            @include utils.multi-select();

            background-color: var(--background-color);
            border-bottom: var(--border-separator);
            padding: 0.3rem;
            padding-top: 0.1rem;

            select {
                option {
                    background: rgb(0 0 0 / 81%);
                }
            }
        }

        .folder {
            padding-left: var(--folder-spacer-width);

            .title {
                display: flex;
                align-items: center;
                gap: 0.3em;
                overflow: hidden;
            }

            + .list {
                margin-left: var(--folder-spacer-width);

                .trigger {
                    &::before {
                        position: absolute;
                        content: "";
                        inset: 0 100% 0 auto;
                        background: var(--background-color);
                        width: var(--folder-spacer-width);
                    }
                }
            }

            &[data-checked="checked"] {
                i.partial,
                i.unchecked {
                    display: none;
                }
            }

            &[data-checked="partial"] {
                i.checked,
                i.unchecked {
                    display: none;
                }
            }

            &[data-checked="unchecked"] {
                i.checked,
                i.partial {
                    display: none;
                }
            }
        }

        .trigger {
            input {
                margin: 0;
                height: 1.2em;
            }

            &[data-invalid="true"] {
                > .name,
                > i {
                    color: #fb0000;
                }
            }

            &[data-locked="true"] {
                > .name,
                > i {
                    opacity: 0.5;
                }
            }
        }
    }

    .description {
        --font-primary: var(--body-serif);

        z-index: 1;
        height: 100%;
        flex: 1;
        background: #1a1a1a;
        pointer-events: all;
        font-family: var(--body-serif);

        .window-content {
            height: 100%;
            background: none;
        }

        .item-summary {
            overflow-y: auto;
            color: var(--color-text-light-highlight);
            padding: 0.5em 1em;
            user-select: text;
        }

        .content-link {
            color: var(--color-text-dark-1);
        }
    }

    .window-stretch {
        z-index: 20;
        position: absolute;
        right: -1px;
        top: -1px;
        bottom: -1px;
        width: 10px;
        background: var(--background);
        background-color: var(--background-color);
        pointer-events: all;
        cursor: pointer;
        border-radius: 0 4px 4px 0;
    }

    .sidebar.triggers ~ .window-stretch {
        filter: brightness(2.2);
    }

    .window-collapsed {
        @include app();

        position: fixed;
        display: none;
        pointer-events: all;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.2em;
        padding: 0.2em 0.3em;
        border-radius: 4px;
        align-items: center;
        gap: 0.3em;

        i {
            margin-top: 1px;
        }
    }

    &.collapsed {
        background: none;
        border: none;
        box-shadow: none;

        canvas,
        .ui > * {
            display: none;
        }

        .window-collapsed {
            display: flex;
        }
    }
}
